*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.pinicio{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img.top2.jpg);
    
}

header{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    font-size: 2em;
    color: #fff;
    font-size: 2.1em;
    user-select: none;
}

.navbar a {
    position: relative;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    margin-left: 40px;
}

.navbar a::after{
    content: '';
    position: absolute;
    left:0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scale(0);
    transition: transform.5s;
}

.navbar a:hover::after{
    transform:scale(1) ;
}

.navbar .bot{
    width: 130px;
    height: 50px;
    background:transparent;
    outline: 1px solid #fff;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;

    
}

.navbar .bot:hover{
    background:#fff;
    color: rgb(255, 243, 243);
}

.principal{
    position: absolute;
    top: 200px;
    display: flex;
    align-items: center;
    flex-direction: row;
    
    color: #fff;
}

.cards{
    margin: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.card{
    
    width: 300px;
    background: #d5bcdc;
    border-radius: 10px;
    box-shadow: 0 4px 10px #d5bcdc;
    overflow: hidden;
    text-align: left;

}
.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3{
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 10px;
    padding: 5px;
}
.card p{
    font-size: 14px;
    color: #fff;
    margin: 0 15px 15px;
}

.card .btn{
    margin: 15px;
    background:transparent;
    text-decoration: none;
    border: #fff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #d5bcdc;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.card .bot:hover{
    background:#ebcfcf;
    color: rgb(255, 243, 243);
}


.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 50px 10%;
}
.inicio img{
    width: 350px;
    border-radius: 10px;
}
.inicio h1{
    top: -20px;
    display: flex;
    left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.video{
    display: flex;
    align-items: center;
    background-color: #d5bcdc;
    color: #fff;
}


.heading h1{
    display: flex;
    align-items: center;
    background: #d5bcdc;
    padding: 20px;
    color: #fff;
}
.review .box-conta{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 10px;
}
.review{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.box-conta{
    
    width: 350px;
    margin: 0 auto;
    background: #d5bcdc;
    border-radius: 10px;
    box-shadow: 0 4px 10px #d5bcdc;
    overflow: hidden;
    text-align: left;

}


.review .box-conta .box{
    flex: 1 1 30rem;
    box-shadow: 0.5rem 1.5rem rgb(205, 155, 228);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
}

.review .box-conta .box .fas-fa-quote-right{
    position: absolute;
    bottom: 3rem; right: 3rem;
    font-size: 6rem;
    color:#fff;
}
.review .box-conta .box .star i{
    color:var(rgb(211, 74, 238));
    font-size: 2rem;
}

.review .box-conta .box  p{
    color:var(rgb(210, 172, 218));
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}


.review .box-conta .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-conta .box .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;

}

.review .box-conta .box .user h3{
    font-size: 2rem;
    color: #d5bcdc;

}

.review .box-conta .box .user h3{
    font-size: 1.5rem;
    color: #333;

}

