@import url();

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ´poppins´,san-serif;
}
body{
    background: black;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar a{
    position: relative;
    font-size: 16px;
    color: #e4e4e4;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}
.navbar a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #e4e4e4;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s;
}
.navbar a:hover::after{
    transform: translateY(0);
    opacity: 1;

}

.search{
    width: 250px;
    height: 45px;
    background: transparent;
    border: 2px solid #e4e4e4;
    border-radius: 6px;
    display: flex;
    align-items: center;

}
.search input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #e4e4e4;
    padding-left: 10px;
}

.search input::placeholder{
    color: #e4e4e4;
}

.search button{
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.search button i{
    font-size: 22px;
    color: #e4e4e4;
}

.background{
    width: 100%;
    height: 100vh;
    background: url(imirox4.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
}

.conteiner{
    position: absolute;
    top: 10%;
    left: 12%;

    transform: translate(50%, 50%,);
    width: 75%;
    height: 550px;
    background: url(imirox4.jpg) no-repeat; 
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 20px;
}

.conteiner .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    background: transparent;
    padding: 100px;
    color: #e4e4e4;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.conteiner.logo{
    font-size: 30px;

}
.text-sci h2{
    font-size: 40px;
    line-height: 1;
}

.text-sci h2 samp{
    font-size: 25px;
}

.text-sci p{
    font-size: 16px;
    margin: 20px 0;

}
.icons-sociais a i{
    font-size: 22px;
    color: #e4e4e4;
    margin-right: 10px;
    transition: 0.5s ease;
}

.icons-sociais a:hover i{
    transform: scale(1.2);
}



.conteiner.logreg-box{ 
    top: 0;
    right: 0;
    position: absolute;
    width: calc(100% - 58%);
    height: 100%;

}

.logreg-box1{
    background: transparent;
    backdrop-filter: blur(10%);
    height: 50%;
    top: 100%;
    padding: 40px;
}
.logreg-box{
    position: absolute;
    top: 50%;
    right: 5%;
    padding: 20px;
    width: 400px 50px 400px;
    transform: translateY(-50%);
    border-radius: 10px;
    background: transparent;
    backdrop-filter: blur(20px);
    border-top-right-radius:10px ;
    border-bottom-right-radius:10px ;
    color: #e4e4e4;
}

.form-box h2{
    font-size: 32px;
    text-align: center;
    
}
.form-box .input-box{
    position: relative;
    width: 340px;
    height: 50px;
    border-bottom: 2px solid #e4e4e4;
    margin: 30px 0px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #e4e4e4;
    font-weight: 500;
    padding-right: 28px;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    transition: .5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box .icon{
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}
.form-box.remember-forgot{
    font-size: 14.5px;
    font-weight: 500;
    margin: -25px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    accent-color: #e4e4e4;
    margin-right: 3px;
}
.remember-forgot a{
    color: #8f00b6;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
}

.remember-forgot a:hover{
    text-decoration: underline;
    color: #e4e4e4;
}

.btn{
    width: 100%;
    height: 45px;
    background: #d5bcdc;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: #e4e4e4;
    font-weight: 500;
    box-shadow: 0 0 10px #e4e4e4(0,0,0, .5);
}
.form-box.login-re{
    display: flex;
    font-size:14.5px ;
    font-weight: 500 ;
    text-align: center;
    margin-top: 25px;
}

.login-re p a{
    margin: 20px;
    color:#8f00b6;
    font-weight: 600;
    text-decoration: none;
    align-items: center;

}

.login-re p a:hover{
    text-decoration: underline;
    color: #e4e4e4;
}

